<div class="main">
    <div class="searchContainer">
        <input type="text" placeholder="Search for Products" name="searchbar" [(ngModel)]="typed" (input)="update()">
        <button (click)="update()">SEARCH HERE</button>
    </div>
    <div *ngIf="condition">
        <div class="frameContainer">
            <div class="frames" *ngFor="let item of items">
                <div class="box">
                    <div class="img">
                        <img [src]="item.link" alt="img">
                    </div>
                    <p>{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>