$fl-st: flex-start;
$fl-en: flex-end;
$shadow-1: 1px 1px 5px;
$shadow-2: 1px 1px 10px;
$shadow-3: 2px 2px 10px;
$fl: flex;
$gr: grid;
$sm: 0.75rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 2.5rem;
$xxxl: 3rem;
$box-shadow-black-1: 0px -5px 5px -2px black,
0px 5px 5px -2px black,
-5px 0px 5px -2px black,
5px 0px 5px -2px black;
$box-shadow-black-2: 0px -5px 5px -5px black,
0px 5px 5px -5px black,
-5px 0px 5px -5px black,
5px 0px 5px -5px black;
$box-shadow-black-3: 0px -5px 5px -10px black,
0px 5px 5px -10px black,
-5px 0px 5px -10px black,
5px 0px 5px -10px black;
$box-shadow-gray-1: 0px -5px 5px -2px gray,
0px 5px 5px -2px gray,
-5px 0px 5px -2px gray,
5px 0px 5px -2px gray;
$box-shadow-gray-2: 0px -5px 5px -5px gray,
0px 5px 5px -5px gray,
-5px 0px 5px -5px gray,
5px 0px 5px -5px gray;
$box-shadow-gray-3: 0px -5px 5px -10px gray,
0px 5px 5px -10px gray,
-5px 0px 5px -10px gray,
5px 0px 5px -10px gray;
$box-shadow-white-1: 0px -5px 5px -2px white,
0px 5px 5px -2px white,
-5px 0px 5px -2px white,
5px 0px 5px -2px white;
$box-shadow-white-2: 0px -5px 5px -5px white,
0px 5px 5px -5px white,
-5px 0px 5px -5px white,
5px 0px 5px -5px white;
$box-shadow-white-3: 0px -5px 5px -10px white,
0px 5px 5px -10px white,
-5px 0px 5px -10px white,
5px 0px 5px -10px white;
$sp-bt: space-between;
$sp-ar: space-around;
$sp-ev: space-evenly;