<header>
    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/4727/4727543.png" alt="icon" width="60px" height="60px">
        <div class="containerHead">
            <div class="head">Invite Systems & Solutions</div>
            <div class="subhead">The smart choice of your security</div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/product" routerLinkActive="active">Product & Services</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
            <li class="login">
                <a routerLink="/login" routerLinkActive="active">Login</a>
                <img src="../assets/user-icon.png" alt="user-icon"
                    width="40px" height="40px" />
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>