<div>
    <div class="main">
        <div class="box1">
            <div class="head">CONTACT US</div>
            <div class="container">
                <div class="container1">
                    <img src="https://png.pngtree.com/png-vector/20230213/ourlarge/pngtree-circle-phone-call-icon-in-black-color-png-image_6596895.png"
                        alt="call" width="40px" height="40px">
                    <div class="subhead">CALL US</div>
                </div>
                <span class="text">1(234) 567-891, 1(234) 567-919</span>
            </div>
            <div class="container">
                <div class="container1">
                    <img src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" alt="call" width="40px"
                        height="40px">
                    <div class="subhead">MAIL</div>
                </div>
                <span class="text">invitesolutions@gmail.com</span>
            </div>
            <div class="container">
                <div class="container1">
                    <img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" alt="call" width="40px"
                        height="40px">
                    <div class="subhead">LOCATION</div>
                </div>
                <span class="text">COIMBATORE</span>
            </div>
            <div class="container">
                <div class="container1">
                    <img src="https://static.thenounproject.com/png/4148625-200.png" alt="call" width="40px"
                        height="40px">
                    <div class="subhead">AVAILABLE</div>
                </div>
                <div class="text">Monday - Friday(9am - 9pm)</div>
            </div>
        </div>
        <div class="box2">
            <div class="head">
                SEND US A MESSAGE
            </div>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email Id">
            <textarea name="message" id="" cols="21" rows="5" placeholder="Message"></textarea>
            <button type="submit">Send</button>
        </div>
    </div>
</div>