<div *ngIf="number">
    <div>
        <div class="box">
            <div class="head">
                Join us
                Get Started
            </div>
            <div>
                <img src="../../../assets/OTP-icon.png" alt="otp-icon" width="70px" height="70px">
            </div>
            <div class="sentence">
                 <div>
                    We'll send you an OTP verification code to
                 </div>
                 <div>
                    your mobile number
                 </div>
            </div>
            <div>
                <input type="number" placeholder="Enter your Mobile number" name="number" [(ngModel)]="num" minlength="10" maxlength="10" required>
            </div>
            <span *ngIf="conditionNum">Enter Mobile Number to get OTP</span>
            <div>
                <button type="submit" (click)="show()">Get OTP</button>
            </div>
        </div>
    </div>
    <div class="img">
        <img src="https://wallpapers.com/images/hd/bullet-security-camera-with-digital-interface-suntptp1l1ull8m7.jpg"
            alt="cam">
    </div>
</div>

<div *ngIf="otp" class="popup">
    <div class="img">
        <img src="https://wallpapers.com/images/hd/bullet-security-camera-with-digital-interface-suntptp1l1ull8m7.jpg"
            alt="cam">
    </div>
    <div>
        <div class="box">
            <div>
                <img src="../../../assets/OTP-icon.png" alt="otp-icon" width="110px" height="100px">
            </div>
            <div class="text">OTP Verification</div>
            <div class="otp">
                <input type="text" [(ngModel)]="a" maxlength="1" required>
                <input type="text" [(ngModel)]="b" maxlength="1" required>
                <input type="text" [(ngModel)]="c" maxlength="1" required>
                <input type="text" [(ngModel)]="d" maxlength="1" required>
            </div>
            <span *ngIf="condition">Enter a Valid OTP to Verify</span>
            <div class="btn">
                <button type="submit" (click)="activate()">Verify</button>
                <div style="gap: 0.4rem;">
                    <span style="color: black;">Didn't receieved yet?</span>
                    <span style="color: gray; cursor: pointer;">Resend OTP</span>
                </div>
            </div>
        </div>
    </div>
</div>