@import "../../../styles.scss";

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-image: url("https://www-file.huawei.com/-/media/corporate/images/magazine/winwin/augmented-innovation/ww-se-ai-safe-cities-surveillance-2.jpg?la=en-ie");
    // background: rgb(54, 50, 50);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // box-shadow: $box-shadow-gray-1;
    .container1 {
        margin: 5rem;
        align-items: center;
        .header {
            display: inline;
            font-size: $xxxl;
            font-weight: bold;
            color: black;
            text-shadow: $shadow-1 gray;
            background-color: white;
            padding: $sm;
        }
        .para {
            margin: 4rem 2rem 0rem 4rem;
            padding: 20px;
            border-radius: 10px;
            text-shadow: $shadow-2 gray;
            background-color: white;
            font-size: $lg;
            color: black;
        }
    }
    .container2 {
        height: 8rem;
        align-items: center;
        margin: 0rem 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 4rem;
        .container3 {
            width: 400px;
            background-color: white;
            box-shadow: $box-shadow-black-1;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $lg;
            img {
                background-color: white;
                border: 2px solid black;
                box-shadow: $box-shadow-black-2;
                border-radius: 50%;
                padding: 0.2rem;
            }
            .containerHead {
                display: flex;
                flex-direction: column;
                background: none;
                padding: 0px;
                .head {
                    padding: 2px;
                    text-shadow: $shadow-2 gray;
                }
                .subhead {
                    font-size: $sm;
                    padding: 4px;
                }
            }
        }
    }
}
