<div class="main">
    <div class="container1">
        <div class="header">About Us</div>
        <div class="para">At Invite Systems & Solutions, we specialize in providing the smartest security solutions for your peace of
            mind.
            With a dedication to innovation and reliability, we strive to empower you with the finest choices in
            safeguarding what matters most.
            Our mission is to bring excellence and intelligence to every aspect of security, ensuring a safer
            environment
            for you and your loved ones."
        </div>
    </div>
    <div class="container2">
        <div class="container3">
            <img src="https://static.thenounproject.com/png/4904422-200.png" alt="icon" width="50px" height="50px">
            <div class="containerHead">
                <div class="head">The Nature of Business</div>
                <div class="subhead">Wholesealer</div>
            </div>
        </div>
        <div  class="container3">
            <img src="https://static.thenounproject.com/png/1568537-200.png" alt="icon" width="50px" height="50px">
            <div class="containerHead">
                <div class="head">Year of Establishment</div>
                <div class="subhead">2000</div>
            </div>
        </div>
        <div  class="container3">
            <img src="https://icons.veryicon.com/png/o/miscellaneous/icondian/icon-income.png" alt="icon" width="50px" height="50px">
            <div class="containerHead">
                <div class="head">Annual turn over</div>
                <div class="subhead">Rs.50lakhs - 1crore</div>
            </div>
        </div>
        <div  class="container3">
            <img src="https://thumbs.dreamstime.com/b/government-tax-gst-icon-government-tax-gst-icon-as-eps-file-165707604.jpg" alt="icon" width="50px" height="50px">
            <div class="containerHead">
                <div class="head">GST Number</div>
                <div class="subhead">330zx67i09mk</div>
            </div>
        </div>
    </div>
</div>