@import "../../../styles.scss";

div {
    .head {
        display: flex;
        justify-content: center;
        font-size: $xxl;
        font-weight: bold;
        margin-top: 2rem;
        color: gray;
    }
    .slideshow {
        background-color: black;
        margin: 15px 100px;
        height: 380px;
        display: flex;
        gap: 5rem;
        img {
            padding: 1.5rem;
            padding-left: 15rem;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            h1 {
                color: white;
                font-size: $xxl;
            }
            button {
                background-color: black;
                border: 2px solid white;
                color: white;
                border-radius: 1rem;
                padding: 1rem 2rem;
                font-size: $lg;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }

    .frameContainer {
        margin: 30px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .frames {
            width: 100%;
            .box {
                width: 280px;
                height: 280px;
                border: 0px solid black;
                background-color: white;
                box-shadow: 1px 1px 10px 1px black;
                display: grid;
                grid-template-rows: 200px 60px;
                .img {
                    padding: 20px;
                    img {
                        height: 200px;
                        width: 250px;
                    }
                }
                p {
                    background-color: rgb(72, 70, 70);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: $lg;
                    width: 280px;
                    height: 100%;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
        }
    }
    .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 5rem 0rem;
        flex-wrap: wrap;
        gap: 4rem;
        .container3 {
            width: 420px;
            background-color: white;
            box-shadow: $box-shadow-black-1;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $lg;
            img {
                background-color: white;
                border: 2px solid black;
                box-shadow: $box-shadow-black-2;
                border-radius: 50%;
                padding: 0.2rem;
            }
            .containerHead {
                display: flex;
                flex-direction: column;
                background: none;
                padding-right: 2rem;
                .head1 {
                    padding: 2px;
                    white-space: nowrap;
                    text-shadow: $shadow-2 gray;
                    font-size: $xl;
                    font-weight: bold;
                }
                .subhead {
                    font-size: $sm;
                    padding: 4px;
                }
            }
        }
    }
}

.box {
    position: relative;
    animation-name: slideshow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

@keyframes slideshow {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

